/*geral*/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*header*/
header {
    top: 0;
    height: auto;
    width: 100%;
}

.text-p {
    color: #0a58eb;
    font-weight: bold;
}

.botao {
    padding: 0.5rem;
    margin-left: 2rem;
}
.cabecalho {
    display: block;
    color: #5e646b;
    padding: 0.8rem;
    font-size: 14px;
}

.link {
    text-decoration: none;
    color: rgb(163, 137, 137);
    box-sizing: border-box;
}

.container-header p {
    color: #0a58eb;
    font-size: 18px;
    font-weight: bold;
}

.container-header a {
    
    text-decoration: none;
    margin-top: 10px 10px 10px;
}

.btn {
    background-color: #0a58eb;
    color: #fff;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    box-shadow: 2px 2px 2px rgba(161, 161, 161, 0.77);
}

.btn:hover {
    background-color: rgb(41, 140, 206);
}

#mobile {
    display: none;
    margin-top: 10px;
}

#mobile h1 {
    color: #0a58eb;
}

#demo a {
    color: #5e646b;
    margin-left: 20px;
}

#demo a:hover {
    color: #0a58eb;
}

#demo {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}


#demo ul li a {
    text-decoration: none;
}

#demo li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

#demo ul {
    padding-left: 0px;
}

#demo button {
    margin-left: 20px;
}

@media (max-width: 414px) {
    #cabecalho{
        display: none;
    }
    #mobile {
        display: block;
    }
    #border {
        border-right: none;
    }
}

.menu-img {
    margin-top: 30px;
}

/*banner */
.banner {
    background-color: #0a58eb;
    color: #fff;
    height: auto;
}

.banner p {
    font-size: 12px;
    margin-top: 1px;
}

.banner h5 {
    margin-top: 2px;
    margin-bottom: 10px;
}

.banner h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.banner-store {
     margin-top: 50px;
}

.img-smartphone {
    padding: 10px;
    align-items: center;
}

.title-center {
	font-size: 36px;
	margin-bottom: 30px;
}


.p-center{
    width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}

/*Skills*/

.skills {
    color: #5e646b;
    height: auto;
    margin-top: 20px;
}

.skills p {
    font-size: 14px;
}

.items-skills {
    align-items: center;
    text-align: center;
}

.items-skills svg {
    align-items: center;
    background-color: #4751e3;
    border-radius: 200px;
    width: 60px;
    height: 60px;
    padding: 20px;
}

/*Fundo dos icones*/
#Capa_1 {
    height: 50px;
    margin-left: 50px;
    background-color: #4751e3;
    border-radius: 200px;
    width: 100px;

}


/*Medias*/

.midias {
    border-top: 32px;
    padding: 20px;
    border-top: 1px solid rgb(163, 137, 137);
    color:#0a58eb ;
}

.midias h5 {
    margin-bottom: 1px;
}

.midias p {
    color: #5e646b;
    font-size: 12px;
    margin-top: 1px;
}

.item-midias-border {
    border-right: 1px solid rgb(163, 137, 137);
}

/*Features*/

.features {
    background-color: #fafafacb;
}

.features h5 {
    text-align: center;
    color:  #5e646b;
    font-weight: bold;
}

.features p {
    text-align: center;
    font-size: 12px;
    color: #4751e3;
}

.items-features {
    box-shadow: 4px 2px 4px 2px rgba(161, 161, 161, 0.77);
    background-color: #fff;
    text-align: center; 
    color: #5e646b;
    border-radius: 4px;
}

.items-features p {
    text-align: center;
    font-size: 12px;
    color: #5e646b;
}

.items-features svg {
    height: 50px;
    background-color: #4751e3;
    border-radius: 200px;
    width: 60px;
    height: 60px;
    padding: 20px;
}

.item {
    padding-top: 1rem;
    padding: 0.40rem;
    margin-bottom: 10px;
    align-items: center;
}



.final p {
    color: #5e646b;
    font-size: 14px;
    height: 100px;
}

.rodape {
    
    background-color: #1f2d41;
    color: #5e646b;
    height: 100%;
}

.rodape a {
    
    color: #5e646b;
    font-size: 12px;
    text-decoration: none;
    
}

.icone-rodape {
    height: 20px;
}

.copyright {
    border-top: 1px solid #5e646b;
    font-size: 12px;
    margin-top: 1rem;
}

.policy {
    text-align: center;
}

#store {
    height: auto;
}
.item-svg {
    width: 20px;
    padding: 2px;
}
