/*geral*/
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*header*/
header {
    top: 0;
    height: auto;
    width: 100%;
}

.text-p {
    color: #0084C3;
    font-weight: bold;
}

.botao {
    padding: 0.5rem;
    margin-left: 2rem;
}
.cabecalho {
    color: dimgray;
    padding: 0.8rem;
    font-size: 14px;
}

.link {
    text-decoration: none;
    color: rgb(163, 137, 137);
    box-sizing: border-box;
}

.container-header p {
    color: #0084C3;
    font-size: 18px;
    font-weight: bold;
}

.container-header a {
    
    text-decoration: none;
    margin-top: 10px 10px 10px;
}

.btn {
    background-color: #0084C3;
    color: #fff;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    box-shadow: 2px 2px 2px rgba(161, 161, 161, 0.77);
}

.btn:hover {
    background-color: rgb(41, 140, 206);
}

/*banner */
.banner {
    background-color: #6930c3;
    color: #fff;
    height: auto;
}

.banner p {
    font-size: 12px;
}

.img-smartphone {
    padding: 10px;
    align-items: center;
}

.title-center {
	font-size: 36px;
	margin-bottom: 30px;
}


.p-center{
    width: 80%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}

/*Skills*/

.skills {
    color: dimgray;
    height: auto;
    margin-top: 20px;
}

.skills p {
    font-size: 14px;
}

.items-skills {
    align-items: center;
    text-align: center;
}

.items-skills svg {
    align-items: center;
    background-color: #6930c3;
    border-radius: 200px;
    width: 60px;
    height: 60px;
    padding: 20px;
}

/*Fundo dos icones*/
#Capa_1 {
    height: 50px;
    margin-left: 50px;
    background-color: #6930c3;
    border-radius: 200px;
    width: 100px;

}


/*Medias*/

.midias {
    border-top: 32px;
    padding: 20px;
    border-top: 1px solid rgb(163, 137, 137);
    color:#0084C3 ;
}

.midias h5 {
    margin-bottom: 1px;
}

.midias p {
    color: dimgray;
    font-size: 12px;
    margin-top: 1px;
}

.item-midias-border {
    border-right: 1px solid rgb(163, 137, 137);
}

/*Features*/

.features {
    background-color: #fafafacb;
}

.features h5 {
    text-align: center;
    color: rgb(146, 61, 224);
    font-weight: bold;
}

.features p {
    text-align: center;
    font-size: 12px;
    color: dimgrey;
}

.items-features {
    box-shadow: 4px 2px 4px 2px rgba(161, 161, 161, 0.77);
    background-color: #fff;
    text-align: center; 
    color: dimgrey;
    border-radius: 4px;
}

.items-features svg {
    height: 50px;
    background-color: #6930c3;
    border-radius: 200px;
    width: 60px;
    height: 60px;
    padding: 20px;
}

.item {
    padding-top: 1rem;
    padding: 0.40rem;
    margin-bottom: 10px;
    align-items: center;
}



.final p {
    color: dimgray;
    font-size: 14px;
    height: 100px;
}

.rodape {
    
    background-color: rgb(37, 37, 37);
    color: dimgray;
    height: 100%;
}

.rodape a {
    
    color: dimgray;
    font-size: 12px;
    text-decoration: none;
    
}

.icone-rodape {
    height: 20px;
}

.copyright {
    border-top: 1px solid rgb(163, 137, 137);
    font-size: 12px;
    margin-top: 1rem;
}

.policy {
    text-align: center;
}

#store {
    margin-top: 40px;
}
.item-svg {
    width: 20px;
    padding: 2px;
}
